/* Preloader Component */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.preloader__progress {
    --progress: 0.1;

    margin-top: 0.75rem;
    max-width: 100%;
    width: calc(var(--progress) * 30rem);
    height: 0.2rem;
    background-color: #eee;
    border-radius: 10rem;
    transition: 300ms ease-in-out;
}

/* Logo Component */
.logo {
    margin: 0;
    font-size: 1.25rem;
}

.logo span {
    font-weight: normal;
}

/* Hero Component */
.hero {
    display: flex;
    gap: 2rem;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: min(max(8vw, 1rem), 3rem);
}

.hero > * {
    width: 100%;
    height: 100%;
}

.hero__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    flex-basis: 50%;
}

.hero__content > h1 {
    margin: 2rem 0 0 0;
}

.hero__content > p {
    margin: 1rem 0 0 0;
    color: #666;
}

.hero__canvas {
    height: 100%;
    background-color: #eee;
    flex-grow: 0;
}
