/* Chat Page */
#page-chat form {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

#page-chat .chat {
    height: 20rem;
    max-height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    width: 100%;
    margin-top: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#page-chat .chat::-webkit-scrollbar {
    display: none;
}

#page-chat .chat {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#page-chat .chat__response {
    color: white;
    padding: 1rem;
    background-color: black;
    border-radius: 1rem;
    width: fit-content;
    max-width: 100%;
}

#page-chat .chat__response-bot {
    border-bottom-left-radius: 0;
    background-color: #eee;
    color: black;
}

#page-chat .chat__response-you {
    border-bottom-right-radius: 0;
    align-self: flex-end;
    text-align: right;
}

.page__icon {
    border-radius: 0.75rem;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border: 1px solid var(--border);
    box-shadow: 0 0.5rem 1rem var(--shadow);
}

/* Classification Page */
#page-classification form {
    width: 100%;
}

/* Map Page */
#page-map .map {
    width: 100%;
    min-height: min(25rem, 40vmin);
    margin-top: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

/* Breathing Page */
#page-breathing .circle {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    place-items: center;
}

#page-breathing .circle__text {
    position: relative;
    width: min(40vmin, 25rem);
    height: min(40vmin, 25rem);
    border-radius: 50%;
    background: linear-gradient(to top right, #7300ff, #0b6fea);
    animation: expand 10s infinite;
}

#page-breathing .circle__text p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    margin: 0;
    opacity: 0;
    animation: 10s infinite show;
}

#page-breathing .circle__text p:nth-child(2) {
    animation: 10s infinite show;
    animation-delay: 5s;
}

@keyframes expand {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
